<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="257ceb24-317c-4db0-bc2c-0f72b34469da" Publisher="CN=Oleg" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MusicSearcher.Metro</DisplayName>
    <PublisherDisplayName>Oleg</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MusicSearcher.Metro.App">
      <VisualElements DisplayName="MusicSearcher.Metro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MusicSearcher.Metro" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>